
@font-face {
    font-family: 'gothamblack';
    src: url('fonts/gotham-black-webfont.woff2') format('woff2'),
         url('fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after,
html {
      box-sizing: border-box;
      font-family: 'gothamblack';
      font-weight: normal;
}

body {
      padding: 0;
      margin: 0;
      background: linear-gradient(to right, #00AAFF, #00FF6C);
      display:flex;
      align-items:center;
      justify-content:center;


}

.calculator-grid {
      display: grid;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      grid-template-columns: repeat(4, 70px);
      grid-template-rows: minmax(50px, 25%) repeat(5, 80px);
      gap:0 1px;
}


.calculator-grid > button{
      cursor: pointer;
      font-size: 2rem;
      border: 1px solid #fff;
      outline:none;
      background-color:rgba(255,255,255,.75);
      height:100%;
}
 
.calculator-grid > button:hover{
     color:rgba(255,255,255,.9); 
}
.span-two{
      grid-column: span 2;
}

.output{
      grid-column: 1/ -1;
      grid-row:1;
      align-self:flex-end;
      background-color:rgba(0,0,0,.75);
      display:flex;
      align-items:flex-end;
      justify-content:space-between;
      padding:10px;
      flex-direction:column;
      word-wrap:break-word;
      word-break:break-all;
      height:100px;
      font-size: 2rem;
      color:white;
}

.output .previous-operand{
      color:white;
      font-size:1.5rem;
}


